@model IEnumerable<dynamic>

<h2>Randevularım</h2>
<table class="table">
    <thead>
        <tr>
            <th>İşlem Adı</th>
            <th>Ücret</th>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Çalışan</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var randevu in Model)
            {
                <tr>
                    <td>@randevu.IslemAdi</td>
                    <td>@randevu.ucret TL</td>
                    <td>@randevu.Tarih</td>
                    <td>@randevu.Saat</td>
                    <td>@randevu.Calisan</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Henüz randevunuz bulunmamaktadır.</td>
            </tr>
        }
    </tbody>

</table>
